<template>
  <div class="index">
    <v-alert type="warning">Это сайт СЁМЫ!</v-alert>
    <v-alert type="info" dense>
       На этом сайте вы сможете бесплатно найти треки данные с SPOTIFY, и бесплатно скачать с сайта rockNations.cc
    </v-alert>
  </div>

</template>

<script>
export default {
  name: "index"
}
</script>

<style scoped>

</style>