.button {
    display: block;

    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    font-size: 30px;
    margin: 40px;

    width: 150px;
    height: 60px;
}

.button-1 {
    color: #0b0;
    border: 5px solid #00bb00;
}

.button-1:hover {
    color: #333333;
    background-color: #00bb00;
    transition-duration: .3s;
}