body {
    font-family: sans-serif;
    background: #333;
    font-size: 30px;
    color: azure;

    padding: 10px 25px 10px 20px;
}

.navigation {
    display: flex;
    align-content: center;
    justify-content: center;
    list-style-type: none;
}

.active-nav-link {
    font-weight: bold;
    font-size: 35px;

    border-bottom: azure 2px solid;
    border-top: azure 2px solid;
    margin: 20px;

    transition-duration: .5s;
}

.navigation a {
    margin: 30px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.current-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}